/* General Styles */

/* Flex container for centering elements */
.container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 98.3vh; 
}

/* Styles for the login box */
.login-box {
  background-color: #ffffff; 
  padding: 150px; 
  border-radius: 30px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  width: 300px; 
  text-align: center; 
}

/* Header styles */
h1 {
  margin-bottom: 2rem; 
  text-align: center; 
  font-size: 50px; 
}

/* Form styles */
form {
  text-align: center;
}

/* Table styles */
table {
  text-align: center;
  width: 100%;
  padding: 25px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 30px;
}

/* General input field styles */
input {
  width: 100%;
  padding: 15px;
  border: 1px solid black;
  border-radius: 4px;
}

/* Specific input fields */
#newSubject, #newGrade, #newTag {
  border: 1px solid black; 
  padding: 20px; 
  border-radius: 4px; 
  width: 50%; 
}

/* Container for form elements */
.form-container {
  display: block;
  flex-direction: column;
}

/* Add button styles */
.add-button {
  text-align: center;
  width: 50%;
  padding: 30px;
  border: 1px solid black;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  order: 2; 
}

/* Back button styles */
.back-button {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
  font-size: 3rem;
  border-radius: 8px;
  cursor: pointer;
  z-index: 1; 
}

/* Input group styles */
.input-group {
  position: relative;
  margin-bottom: 20px;
  text-align: left;
}

/* Label styles */
label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Flex container for input group and button */
.input-group-with-button {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Eye button styles */
.eye-btn {
  width: 3.75rem;
  height: 3.75rem;  
  background: red;
  border: 2px solid black;
  cursor: pointer;
  display: block;
  padding: 15px;
  margin-top: 30px;
  color: white;
  border-radius: 8px;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Specific style for menu button */
.noten-button {
  width: 10rem;
  padding: 10px;
  margin-top: 15px;
  background-color: #007bff;
  color: white;
  border: solid black;
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-button {
  width: 20rem;
  padding: 10px;
  margin-top: 15px;
  background-color: #007bff;
  color: white;
  border: solid black;
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.reset-button {
  width: 20rem;
  padding: 10px;
  margin-top: 15px;
  background-color: #007bff;
  color: white;
  border: solid black;
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.register-button {
  width: 20rem;
  padding: 10px;
  margin-top: 15px;
  background-color: #007bff;
  color: white;
  border: solid black;
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.noten-button {
  display: block;
  text-align: center;
  width: 12rem;
  padding: 10px;
  margin-top: 15px;
  background-color: #007bff;
  color: white;
  border: solid black;
  border-radius: 8px;
  font-size: 30px;
  
}

.auswahl-button {
  text-align: center;
  padding: 20px;
}

.gradesTable th {
	background-color: #104E8B; 
	color: #FFF;
  border: 2px solid black;
  font-size: 30px;
}

body {
  background-image: url('pictures/Background.png'); /* Background image */
  background-size: cover;  /* Makes the background image cover the entire viewport */
}

select {
  font-size: 30px;
}
  
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  font-size: 50px;
  cursor: pointer;
}

.navbar__container {
  padding: 10px;
}

.language-container {
  display: flex; /* Uses Flexbox for layout */
  position: fixed; /* Fixed position */
  top: 0; /* Aligns to the top of the viewport */
  right: 0; /* Aligns to the right of the viewport */
  margin-top: 5px; /* Margin at the top */
}

.language_eng, .language_fra, .language_ita, .language_de {
  font-size: 40px; /* Font size */
  cursor: pointer; /* Changes the cursor to a hand pointer when hovering */
  border-radius: 8px; /* Rounded corners */
  padding-left: 10px; /* Padding on the left */
  margin-right: 5px; /* Right margin for spacing between buttons */
}